{{#data}}
<div class="box py-3 generalbox submissionaction">
    <div class="singlebutton">
        <a href="/local/star_coach/form.php?formid={{{formid}}}&action=edit&userid={{{participantid}}}" class="btn btn-secondary">Edit submission</a>
    </div>
    <div class="singlebutton">
        <a href="/local/star_coach/remove.php?userid={{{participantid}}}&action=delete" class="btn btn-secondary">Remove submission</a>
    </div>
</div>
{{/data}}
