
<div class="star-instructional--submission-view submissionsummarytable">
<table class="generaltable">

<tbody><tr>
<th class="cell c0"scope="row">Submission Status</th>
<td class="submissionstatusdraft cell c1 lastcol">{{#data}}Submitted{{/data}}</td>
</tr>

<tr>
<th class="cell c0"scope="row">Last Modified</th>
<td class="cell c1 lastcol">{{#data}}{{{date}}}{{/data}}</td>
</tr>
<tr>
    <th class="cell c0"scope="row">By</th>
    <td class="cell c1 lastcol">{{#data}}{{{creator}}}{{/data}}</td>
</tr>