<div data-region="grade-panel" class="fullwidth">
    <div data-region="grade">
        {{#data}}
            <h3>Current Status: Submitted</h3>
        <p><strong>Last Modified:</strong> {{{date}}}</p>
            <p><strong>By:</strong> {{{creator}}}</p>

{{/data}}
    </div>
</div>
